<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum de Perguntas e Respostas</title>
</head>
<body>
    <h1>Bem-vindo ao Fórum de Perguntas e Respostas</h1>
    <hr>
    <h3>Lista de Perguntas</h3>
    
    <!-- <%= %> -->
    <p>Nome: <%= nome %></p>
    <p>Idade: <%= idade %></p>
    <p>Empresa: <%= empresa %></p>

    <% if (msg){ %>
            <h3> Isso é uma mensagem de erro !</h3>
    <%} else { %>
            <h3> Tudo OK !</h3>
    <% } %>    

</body>
</html>