<%- include("partials/header") %>
<%- include("partials/navbar") %>

<body>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h3>Perguntar:</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarpergunta">
          <label>Título:</label>
          <input
            type="text"
            placeholder="Título da pergunta"
            class="form-control"
          />
          <label>Descrição:</label>
          <textarea
            placeholder="Faça uma pergunta"
            class="form-control"
            style="resize: none"
          ></textarea>
          <button class="btn btn-dark my-3">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer") %>